<div class="row">
  <div *ngIf="(order$ | async) as order" class="col-6 offset-3">
    <form #editForm="ngForm" (ngSubmit)="onUpdate(editForm, order)">
      <div class="form-group">
        <input id="customerID" type="string"
          name="customerID"
          class="form-control"
          [(ngModel)]="choosenCustomer"
          [ngbTypeahead]="search"
          [resultFormatter]="customerResultFormatter"
          [inputFormatter]="customerIputFormatter"
          #instance="ngbTypeahead"
        />
      </div>
      <div *ngFor="let field of fields" class="form-group">
        <label>
          <i class="material-icons">{{ field.icon || '&nbsp;' }}</i>
          {{ field.title }}
        </label>
        <input
          [(ngModel)]="order[field.key]"
          [name]="field.key"
          [pattern]="field.pattern || '.*'"
          type="text"
          class="form-control">
      </div>

      <button class="btn btn-block btn-primary">
        <i class="material-icons">save</i>
      </button>
    </form>
  </div>
</div>
