<div class="row">
  <div *ngIf="(order$ | async) as order" class="col-6 offset-3">
    <form #editForm="ngForm" (ngSubmit)="onUpdate(editForm, order)">
      <div *ngFor="let field of fields" class="form-group">
        <label>
          <i class="material-icons">{{ field.icon || '&nbsp;' }}</i>
          {{ field.title }}
        </label>
        <input
          [(ngModel)]="order[field.key]"
          [name]="field.key"
          [pattern]="field.pattern || '.*'"
          type="text"
          class="form-control">
      </div>
    </form>
  </div>
</div>
