<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title ">Orders</h4>
        <p class="card-category">The list of orders of the shop.</p>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th
                class="sorter-header"
                (click)="onSort(col.key)"
                *ngFor="let col of cols">
                <i *ngIf="sorterKey === col.key && sorterDirection === 1"
                  class="fa fa-angle-up"></i>
                <i *ngIf="sorterKey === col.key && sorterDirection === -1"
                  class="fa fa-angle-down"></i>
                {{ col.title }}
              </th>
              <th></th>
            </thead>
            <tbody>
              <tr *ngFor="let order of orders$ | async | sorter:sorterKey:sorterDirection">
                <td *ngFor="let col of cols">
                  {{ order[col.key] }}
                </td>
                <td>
                  <div class="btn-group">
                    <button [routerLink]="[order.id]" class="btn btn-info">
                      <i class="fa fa-eye"></i>
                    </button>
                    <button (click)="onRemove(order)" class="btn btn-danger">
                      <i class="fa fa-trash"></i>
                    </button>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  {{ sumList.customers }}
                </td>
                <td>
                  {{ sumList.orders }}
                </td>
                <td>
                  {{ sumList.amount }}
                </td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
